OnlineImageLibrary.WebUI/Web References/OLR/OLRws2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ns1="http://ws.thomsonlearning.com:80/olrws" targetNamespace="java:com.tl.olrws" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://s-ws.cengage.com:80/olrws/OLRws?xsd=4" namespace="http://ws.thomsonlearning.com:80/olrws" />
  <xs:element name="AccessCode" type="ns1:accessCode" />
  <xs:element name="Component" type="ns1:component" />
  <xs:element name="CourseInfo" type="ns1:CourseInfo" />
  <xs:element name="ERightsCouponId" type="xs:string" />
  <xs:element name="Enrollment" type="ns1:Enrollment" />
  <xs:element name="EntitlementProduct" type="ns1:entitlementProduct" />
  <xs:element name="Product" type="ns1:product" />
  <xs:element name="ProductAttribute" type="ns1:productAttribute" />
  <xs:element name="Resource" type="ns1:resource" />
  <xs:element name="acceptCashPayment" type="xs:string" />
  <xs:element name="acceptPaymentCode" type="xs:string" />
  <xs:element name="accessCode" type="xs:string" />
  <xs:element name="accessCodes" type="ns1:arrayOfAccessCode" />
  <xs:element name="accessUrl" type="xs:string" />
  <xs:element name="address" type="xs:string" />
  <xs:element name="age" type="xs:int" />
  <xs:element name="altCoursePrice" type="xs:decimal" />
  <xs:element name="altOnlineProductIsbn" type="xs:string" />
  <xs:element name="alternateUrl" type="xs:string" />
  <xs:element name="apliaProductId" type="xs:decimal" />
  <xs:element name="author" type="xs:string" />
  <xs:element name="authorLastName" type="xs:string" />
  <xs:element name="beginDate" type="xs:dateTime" />
  <xs:element name="blocked" type="xs:string" />
  <xs:element name="cartKey" type="xs:decimal" />
  <xs:element name="checkPointAnswer" type="xs:string" />
  <xs:element name="checkPointQuestion" type="xs:string" />
  <xs:element name="city" type="xs:string" />
  <xs:element name="comingSoon" type="xs:boolean" />
  <xs:element name="compId" type="xs:string" />
  <xs:element name="companionSiteURL" type="xs:string" />
  <xs:element name="components" type="ns1:arrayOfComponent" />
  <xs:element name="consumedFlag" type="xs:boolean" />
  <xs:element name="contextId" type="xs:string" />
  <xs:element name="country" type="xs:string" />
  <xs:element name="course" type="xs:boolean" />
  <xs:element name="courseKey" type="xs:string" />
  <xs:element name="courseName" type="xs:string" />
  <xs:element name="coursePrice" type="xs:decimal" />
  <xs:element name="courses" type="ns1:arrayOfCourseInfo" />
  <xs:element name="createDate" type="xs:dateTime" />
  <xs:element name="createdBy" type="xs:string" />
  <xs:element name="createdOn" type="xs:dateTime" />
  <xs:element name="defaultSubscriptionLength" type="xs:int" />
  <xs:element name="deleted" type="xs:string" />
  <xs:element name="denial" type="xs:string" />
  <xs:element name="discountedTextBookPrice" type="xs:decimal" />
  <xs:element name="discountedTextbookAvailable" type="xs:string" />
  <xs:element name="downloadSite" type="xs:string" />
  <xs:element name="edition" type="xs:string" />
  <xs:element name="email" type="xs:string" />
  <xs:element name="emailAddress" type="xs:string" />
  <xs:element name="emailRegexErrorMessage" type="xs:string" />
  <xs:element name="emailRegexExpression" type="xs:string" />
  <xs:element name="emailRegexPrompt" type="xs:string" />
  <xs:element name="endDate" type="xs:dateTime" />
  <xs:element name="enrollmentCount" type="xs:int" />
  <xs:element name="enrollmentDate" type="xs:dateTime" />
  <xs:element name="enrollments" type="ns1:arrayOfEnrollment" />
  <xs:element name="entitlement" type="ns1:entitlements" />
  <xs:element name="epi" type="xs:string" />
  <xs:element name="expectedLifeDate" type="xs:dateTime" />
  <xs:element name="expirationDate" type="xs:dateTime" />
  <xs:element name="faqUrl" type="xs:string" />
  <xs:element name="filerValue" type="xs:string" />
  <xs:element name="filterType" type="xs:string" />
  <xs:element name="firstName" type="xs:string" />
  <xs:element name="freeChapterName" type="xs:string" />
  <xs:element name="freeChapterURL" type="xs:string" />
  <xs:element name="gender" type="xs:string" />
  <xs:element name="gracePeriod" type="xs:dateTime" />
  <xs:element name="gracePeriodEndDate" type="xs:dateTime" />
  <xs:element name="guid" type="xs:string" />
  <xs:element name="host" type="xs:string" />
  <xs:element name="iacIsbn" type="xs:string" />
  <xs:element name="ilrnBookCode" type="xs:string" />
  <xs:element name="institutionEntityId" type="xs:string" />
  <xs:element name="institutionName" type="xs:string" />
  <xs:element name="instructorFirstName" type="xs:string" />
  <xs:element name="instructorGuid" type="xs:string" />
  <xs:element name="instructorLastName" type="xs:string" />
  <xs:element name="instructorMiddleInitial" type="xs:string" />
  <xs:element name="instructorName" type="xs:string" />
  <xs:element name="instructorSiteURL" type="xs:string" />
  <xs:element name="isGatewayCourse" type="xs:string" />
  <xs:element name="isbn" type="ns1:isbn" />
  <xs:element name="isbn10" type="xs:string" />
  <xs:element name="isbn13" type="xs:string" />
  <xs:element name="isbns" type="ns1:arrayOfISBN" />
  <xs:element name="lastName" type="xs:string" />
  <xs:element name="lastUpdatedOn" type="xs:dateTime" />
  <xs:element name="ldapGroup" type="xs:string" />
  <xs:element name="ldapGroupName" type="xs:string" />
  <xs:element name="login" type="xs:string" />
  <xs:element name="meetingTimes" type="xs:string" />
  <xs:element name="notes" type="xs:string" />
  <xs:element name="onlineProductIsbn" type="xs:string" />
  <xs:element name="operationName" type="xs:string" />
  <xs:element name="orderNumber" type="xs:string" />
  <xs:element name="pages" type="xs:string" />
  <xs:element name="paidInFull" type="xs:string" />
  <xs:element name="partId" type="xs:string" />
  <xs:element name="partNumber" type="xs:string" />
  <xs:element name="password" type="xs:string" />
  <xs:element name="paymentCode" type="xs:string" />
  <xs:element name="phone" type="xs:string" />
  <xs:element name="phoneNumber" type="xs:string" />
  <xs:element name="pid" type="xs:string" />
  <xs:element name="productAttributes" type="ns1:arrayOfProductAttribute" />
  <xs:element name="productId" type="xs:string" />
  <xs:element name="productName" type="xs:string" />
  <xs:element name="productNotifyFlag" type="xs:boolean" />
  <xs:element name="productType" type="xs:string" />
  <xs:element name="products" type="ns1:arrayOfEntitlementProduct" />
  <xs:element name="pubcoId" type="xs:string" />
  <xs:element name="pubcoSn" type="xs:string" />
  <xs:element name="publisherName" type="xs:string" />
  <xs:element name="purchasedTextbook" type="xs:string" />
  <xs:element name="reclaimsAllowed" type="xs:int" />
  <xs:element name="redemptionCeiling" type="xs:int" />
  <xs:element name="registrationDate" type="xs:dateTime" />
  <xs:element name="registrationUrl" type="xs:string" />
  <xs:element name="requiresEmailRegex" type="xs:string" />
  <xs:element name="requiresEmailValidation" type="xs:string" />
  <xs:element name="resourceId" type="xs:string" />
  <xs:element name="resourceItems" type="ns1:arrayOfString" />
  <xs:element name="resourceName" type="xs:string" />
  <xs:element name="resources" type="ns1:arrayOfResource" />
  <xs:element name="resultCode" type="xs:int" />
  <xs:element name="resultDescription" type="xs:string" />
  <xs:element name="schoolOrCompany" type="xs:string" />
  <xs:element name="showFaqOnEmail" type="xs:boolean" />
  <xs:element name="showFaqOnWeb" type="xs:boolean" />
  <xs:element name="signatureUrl" type="xs:string" />
  <xs:element name="smLastSealedDate" type="xs:dateTime" />
  <xs:element name="snPartId" type="xs:string" />
  <xs:element name="state" type="xs:string" />
  <xs:element name="stateOrProvince" type="xs:string" />
  <xs:element name="textbookAuthor" type="xs:string" />
  <xs:element name="textbookCartKey" type="xs:decimal" />
  <xs:element name="textbookEdition" type="xs:string" />
  <xs:element name="textbookIsbn" type="xs:string" />
  <xs:element name="textbookOrderNumber" type="xs:string" />
  <xs:element name="textbookTitle" type="xs:string" />
  <xs:element name="thomsonNotifyFlag" type="xs:boolean" />
  <xs:element name="timeout" type="xs:string" />
  <xs:element name="title" type="xs:string" />
  <xs:element name="titles" type="ns1:arrayOfTitle" />
  <xs:element name="token" type="xs:string" />
  <xs:element name="transferred" type="xs:string" />
  <xs:element name="typeId" type="xs:string" />
  <xs:element name="uid" type="xs:string" />
  <xs:element name="url" type="xs:string" />
  <xs:element name="userIdType" type="xs:string" />
  <xs:element name="userType" type="xs:string" />
  <xs:element name="value" type="xs:string" />
  <xs:element name="webServiceName" type="xs:string" />
  <xs:element name="withdrawn" type="xs:string" />
  <xs:element name="zipOrPostalCode" type="xs:string" />
</xs:schema>