OnlineImageLibrary.WebUI/Web References/OLR/OLRws0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ns1="http://ws.thomsonlearning.com:80/olrws" targetNamespace="java:com.tl.olrws.parameters" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://s-ws.cengage.com:80/olrws/OLRws?xsd=4" namespace="http://ws.thomsonlearning.com:80/olrws" />
  <xs:element name="accessCode" type="xs:string" />
  <xs:element name="adminToken" type="xs:string" />
  <xs:element name="cartId" type="xs:decimal" />
  <xs:element name="cengageOptIn" type="xs:string" />
  <xs:element name="contextId" type="xs:string" />
  <xs:element name="coreTitleIsbn" type="xs:string" />
  <xs:element name="courseInfo" type="ns1:CourseInfo" />
  <xs:element name="courseKey" type="xs:string" />
  <xs:element name="deiiveryMethod" type="xs:string" />
  <xs:element name="deliveryTarget" type="xs:string" />
  <xs:element name="enrollment" type="ns1:Enrollment" />
  <xs:element name="epi" type="xs:string" />
  <xs:element name="expectedLifeDate" type="xs:dateTime" />
  <xs:element name="expirationDate" type="xs:dateTime" />
  <xs:element name="filter" type="ns1:filter" />
  <xs:element name="fromContextId" type="xs:string" />
  <xs:element name="guid" type="xs:string" />
  <xs:element name="guids" type="ns1:arrayOfString" />
  <xs:element name="ichapOptIn" type="xs:string" />
  <xs:element name="isbn" type="xs:string" />
  <xs:element name="isbn10" type="xs:string" />
  <xs:element name="isbn13" type="xs:string" />
  <xs:element name="name" type="xs:string" />
  <xs:element name="newUid" type="xs:string" />
  <xs:element name="newUser" type="xs:boolean" />
  <xs:element name="oldUid" type="xs:string" />
  <xs:element name="operationName" type="xs:string" />
  <xs:element name="orderNumber" type="xs:string" />
  <xs:element name="partId" type="xs:string" />
  <xs:element name="partNumber" type="xs:string" />
  <xs:element name="partialProductId" type="xs:string" />
  <xs:element name="password" type="xs:string" />
  <xs:element name="pid" type="xs:string" />
  <xs:element name="product" type="ns1:product" />
  <xs:element name="productId" type="xs:string" />
  <xs:element name="productIsbn" type="xs:string" />
  <xs:element name="productNotifyFlag" type="xs:string" />
  <xs:element name="pubcoId" type="xs:string" />
  <xs:element name="quantity" type="xs:int" />
  <xs:element name="region" type="xs:string" />
  <xs:element name="resource" type="ns1:resource" />
  <xs:element name="resourceId" type="xs:string" />
  <xs:element name="returned" type="xs:string" />
  <xs:element name="soldTextbookEpis" type="ns1:arrayOfString" />
  <xs:element name="subscriptionLength" type="xs:int" />
  <xs:element name="title" type="xs:string" />
  <xs:element name="titleIsbn" type="xs:string" />
  <xs:element name="toContextId" type="xs:string" />
  <xs:element name="token" type="xs:string" />
  <xs:element name="transactionType" type="xs:string" />
  <xs:element name="uid" type="xs:string" />
  <xs:element name="useApliaCommerce" type="xs:string" />
  <xs:element name="user" type="ns1:user" />
  <xs:element name="userToken" type="xs:string" />
  <xs:element name="userType" type="xs:string" />
  <xs:element name="webserviceName" type="xs:string" />
</xs:schema>